html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Anton";   
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

/*  INICIO  */

.contenedorInicio {
    background-image: url(img/fotoInicio.jpg);
    width: 100vw;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contenedorInicio h1 {
    margin: 0;
    font-family: 'Afacad';
    font-size: 50px;
}

.contenedorInicio h2 {
    font-size: 70px;
    margin: 0;
}

.textosInicio {
    color: white;
    z-index: 100;
    text-align: center;
}

.opaco {
    position: absolute;
    height: 90vh;
    width: 100vw;
    background: linear-gradient(transparent, #1E7335);
    margin: 0;
}

/*  PRODUCTOS  */

.preProductos {
    display: flex;
    gap: 2rem;
    color: #979696;
    font-size: 25px;
    padding-block: 10px;
    border-block: 1px;
    overflow: hidden;
    user-select: none;
}

.preProductos ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    min-width: 100%;
    gap: 6rem;
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-100% - 2rem));
    }
}

.texto2 {
    gap: 2rem;
    transition: all .3s ease;
}

.texto2 li {
  transition: all .3s ease;
}

.texto2 li span {
  margin-right: 10px;
}

.texto2 li:hover {
    color: #1E7335;
}

.preProductos i {
    font-size: 40px;
}

.img-dinamicas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1D1D1D;
  color: white;
  font-family: "Afacad";
}

.reveal {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 1s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateX(0);
}

.img-dinamicas-container div {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.img-dinamicas-container div img {
  width: 140%;
  object-fit: cover;
  height: 430px;
  position: absolute;
  opacity: 0.6;
  left: -30%;
}

.img-dinamicas-container h3 {
  font-size: 70px;
  padding-top: 50px;
  z-index: 1;
}

.img-dinamicas {
  display: flex;
  width: 600px;
  height: 430px;
  padding: 30px;
}

.img-dinamicas img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.img-dinamicas img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.filtro {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #323232;
  margin-left: 20px;
}

.filtro-dropdown {
  position: relative;
}

.btnFlechaAbajo {
  padding: 0;
  margin: 10px;
  display: flex;
  font-family: "Afacad";
  align-items: center;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 25px;
  color: #323232;
  transition: all 0.1s ease;
  border-radius: 40px;
}

.btnFlechaAbajo:hover {
  color: #1E7335;
}

.btnFlechaAbajo i {
  margin: 10px;
}

.filters {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Afacad";
}

.filtro-dropdown:hover .filters {
  display: block;
}

.filters li {
  padding: 10px 20px;
  cursor: pointer;
}

.filters li:hover {
  background-color: #f0f0f0;
}



.contenedorProd {
    display: flex;
    flex-direction: row;
    margin: 30px;
    flex-wrap: wrap;
}

.cajaProducto {
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #323232;
    border-radius: 15px;
    transition: all .3s ease;
    font-size: 20px;
    margin: 20px;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.cajaProducto img {
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    transition: all .3s ease;
    margin: 10px;
}

.cajaProducto a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaProducto:hover {
  text-decoration: underline;
}

.cajaProducto img:hover {
    transform: scale(1.1);
}

.precio {
  margin: 10px;
  font-size: 15px;
}

/* CART */

.cart {
  position: fixed;
  top: 0;
  right: -400px; /* Oculto inicialmente */
  width: 350px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transition: right 0.3s;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  z-index: 1000;
  font-family: "Afacad";
}

.cart.open {
  right: 0;
  border-radius: 20px 0 0 20px;
  font-family: "Afacad";
  z-index: 2000;
}

.cart-header button {
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
  color: #323232;
}

.cart-header button:hover {
  color: #1E7335;

}

.cart-footer button {
  background-color: #1E7335;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  font-family: "Afacad";
  font-size: 25px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
  width: 100%;
}

.btnCompletarPedido {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.cart-footer button:hover {
  background-color: #0c3f19;
}

.cart-footer-item {
  border-bottom: 1px solid #c1c1c1;
}

.cart-items {
  flex: 1;
  overflow-y: auto;
  margin-top: 1rem;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* oscuro semitransparente */
  backdrop-filter: blur(5px); /* desenfoque */
  z-index: 998;
  display: none;
}

.cart-overlay.active {
  display: block;
}


/*  RESPONSIVE  */


@media (max-width: 480px) { 
  .preProductos {
    display: none;
  }

  .img-dinamicas-container {
    display: none;
  }

  .cajaProducto {
    width: 270px;
    height: 340px;
  }

  .contenedorProd {
    justify-content: center;
  }

  .cajaProducto img {
    width: 240px;
  }
}

@media (min-width: 481px) and (max-width: 768px) { 
    .preProductos {
    display: none;
  }

  .img-dinamicas-container {
    display: none;
  }

  .cajaProducto {
    width: 270px;
    height: 340px;
  }

  .contenedorProd {
    justify-content: center;
  }

  .cajaProducto img {
    width: 240px;
  }
}