body {
    margin: 0;
    padding: 0;
    font-family: "Afacad";   
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-top: 130px;
    margin-bottom: 50px;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}


/* PROGRESS */

.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: 50%;
}

.step {
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #1E7335;
  background-color: white;
  color: #1E7335;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
}

.step.active {
  background-color: #ffffff;
  color: #1E7335;
  box-shadow: 0 0 5px #82b18e;
}

.progress-line {
  flex-grow: 1;
  height: 5px;
  background-color: #bcd4c2;
  border-radius: 3px;
}

/* DATA */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}


.data-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-bottom: 15px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #1E7335, #5bc477);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #1E7335;
  font-weight: 700;
}

/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.form-container button {
    margin-top: 20px;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background-color: #1E7335;
    font-family: "Afacad";
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 300px;
    cursor: pointer;
    transition: all .1s ease;
}

.form-container button:hover {
    background-color: #072e11;
}

.form-container h3 {
    font-size: 25px;
}

.nameInput {
    width: 100%;
}

.email-phone-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.email-phone-container .form__group {
    width: 48%;
}

/* CART */

.cart-container {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 30px;
    padding: 20px;
    margin: 30px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}