.contenedorInicio {
    background-image: url(../assets/img/fotoInicio.jpg);
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    height: 90vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}

.contenedorInicio h1 {
    margin: 0;
    font-family: 'Afacad';
    font-size: 50px;
}

.contenedorInicio h2 {
    font-size: 70px;
    margin: 0;
    font-family: 'Anton';
}

.textosInicio {
    color: white;
    z-index: 100;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Sombra más fuerte para un efecto más dramático */
}

.opaco {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 90vh;
    background: rgba(30, 115, 53, 0.4); /* Color de superposición semitransparente */
}