footer {
  background-color: #1c1c1e;
  color: #e5e5e5;
  padding: 40px 0;
  font-family: 'Afacad';
  font-size: 17px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.footerContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.footerLogo img {
  width: 120px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 2px #000);
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.3s ease-in-out;
}

.footerLogo img.bounce-in {
  animation: bounceIn 1s ease forwards;
}

.footerLinks {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  animation: fadeInUp 1.2s ease forwards;
  opacity: 0;
}

.footerLinks a {
  color: #bbb;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s, transform 0.3s;
  position: relative;
}

.footerLinks a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s;
}

.footerLinks a:hover {
  color: white;
  transform: translateY(-2px);
}

.footerLinks a:hover::after {
  width: 100%;
}

.footerSocial {
  margin: 25px 0;
  animation: fadeInUp 1.4s ease forwards;
  opacity: 0;
}

.footerSocial a {
  color: #bbb;
  margin: 0 15px;
  font-size: 32px;
  transition: color 0.3s, transform 0.4s ease;
  display: inline-block;
}

.footerSocial a:hover {
  color: #fff;
  transform: scale(1.3) rotate(5deg);
}

.footerCopyright {
  font-size: 14px;
  color: #888;
  margin-top: 30px;
  animation: fadeIn 2s ease forwards;
  opacity: 0;
}



@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}