body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Afacad"; 
}

.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 600px;
    margin: auto;
    margin-top: 130px;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.container img{
    width: 100px;
}

.container h1{
    padding: 10px;
    font-size: 30px;
}



.disabled {
    margin: 10px;
    font-family: "Afacad";
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 10px;
    width: 420px;
    border-radius: 30px;
    background-color: gray;
    cursor: not-allowed;
    margin-top: 40px;
}

.allow {
    margin: 10px;
    font-family: "Afacad";
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    padding: 10px;
    width: 420px;
    border-radius: 30px;
    background-color: #1E7335;
    cursor: pointer;
    transition: all .1s ease;
    margin-top: 40px;
}

.allow:hover{
    background-color: #072e11;
}

.allow:active{
    transform: scale(0.98);
}

.link_signUp {
  text-decoration: none;
  color: #1E7335;
  font-weight: 700;
}

.msjreg {
  font-family: "Afacad";
  margin-top: 20px;
  margin-bottom: 20px;
}