@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Anton&family=Kaushan+Script&family=Knewave&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

nav {
    font-family: "Anton";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #1D1D1D;
    color: #1E7335;
    align-items: center;
    font-size: 18px;
    padding: 10px;
    position: fixed;
    z-index: 200;
    top: 0;
}

.nav-toggle {
  display: none;
}

nav img {
    width: 70px;
    height: auto;
    transition: all .3s ease;
    margin-left: 40px;
}

nav img:hover {
    transform: scale(1.2);
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    font-size: 20px;
}

nav li {
    margin: 0 10px 0 10px;
}

nav li a {
    text-decoration: none;
    color: #1E7335;
    padding: 10px 15px 10px 15px;
    border-radius: 25px;
    transition: all .3s ease;
}

nav li a:hover {
    background-color: #0c3f19;
    color: #36a854;
}

.btnLogIn {
  font-size: 25px;
  margin-right: 25px;
}

.btnLogIn:hover {
  margin-bottom: 10px;
}

.btnsRight {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cart-icon {
  font-size: 25px;
  margin-right: 15px;
  border-radius: 100%;
}

.cart-icon, .btnLogIn {
  transition: all .2s ease;
  color: #1E7335;
}

.cart-icon:hover {
  margin-bottom: 10px;
}