.preProductos {
    font-family: 'Anton', sans-serif;
    color: #979696;
    font-size: 2.2rem;
    padding: 2rem 1rem;
    border-block: 1px;
    overflow: hidden;
    user-select: none;
    width: 100%;
    box-sizing: border-box;
}

.scrolling-container {
    width: 100%;
    overflow: hidden;
}

.features-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    animation: scroll 30s linear infinite;
    width: max-content;
}

.features-list li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin: 0 2.5rem;
    font-size: 1.1em;
    transition: all 0.3s ease;
}

.features-list li span {
    margin-left: 10px;
}

.features-list li:hover {
    color: #1E7335;
}

@keyframes scroll {
        0% {
                transform: translateX(0);
        }
        100% {
                transform: translateX(calc(-50%));
        }
}

@media (max-width: 900px) {
    .preProductos {
        font-size: 1.5rem;
        padding: 1.2rem 0.5rem;
    }
    .features-list li {
        margin: 0 1.2rem;
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    .preProductos {
        font-size: 1.1rem;
        padding: 0.7rem 0.2rem;
    }
    .features-list li {
        margin: 0 0.7rem;
        font-size: 0.95em;
    }
    .features-list li span {
        margin-left: 7px;
    }
}